.contents-crt {
    height: 2.4em;
    background-color: #AE8A71;
    text-align: center;
    padding-top: 0.1em;
    border-top: 4px solid #442108 !important;
    box-shadow: 0px 4px 7px 1px rgba(109, 109, 109, 0.25);
    cursor: pointer;

}
.contents-crt:hover{
    background-color: #502608;
}
.contents-crt img {
    width: 13%;
}
@media only screen and (max-width: 768px){
    .contents-crt img {
        width: 50%;
    }
}