.list-unstyled a {
    list-style-type: none;
    color: #734C32;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 500;
}
.navfooterr {
    background-color: white;
    padding-top: 2em;
    padding-bottom:1em;
    border-bottom: 3px solid #EAE0D9;
}
.footer-des {
    color: #734C32;
    font-size: 18px;
    padding-left: em;
    font-weight: 600;
    font-family: Roboto;
}
.footer-d {
    color: #734C32;
    font-size: 15px;
    padding-left: 2em;
}
.footer-de {
    color: #734C32;
    font-size: 18px;
    font-weight: 600;
    font-family: Roboto;
}
.images_sets {
    padding-right: 3em;
    padding-top: 1em;
    text-align: center;

}
.footer_img_rwapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em 1em 3em;
    background-color: white;
    
}
.footer-imss {
    flex-grow: 8;
}
.ac-h:hover {
    color: white;
}
@media only screen and (max-width: 768px){ 
    .footer-imss {
        flex-grow: 1;
    }
    .footer_img_rwapper {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 1em 1em 1em;
        background-color: white;
    }  
   
    .footer-d {
        color: #734C32;
        font-size: 14px;
        padding-left: 0em;
        padding-top: 0.3em;
    }
    .footer-de {
        color: #734C32;
        font-size: 17px;
        padding-left: em;
        text-align: center;
    }
    .ces {
        text-align: center;
    }
    .footer-des {
        color: #734C32;
        font-size: 15px;
        padding-top: 1em;
        padding-left: 0em;
    }
    .navfooterr {
        text-align: center;
    }
    .images_sets {
        padding-right: 1em;
        padding-top: 1em;
        text-align: center;
        padding: 1em;
        text-decoration: none !important;
    
    }
    .images_sets:hover {
        text-decoration: none;
    }
    
}
